
<div class='form-title'> <%= link_to("Create Post", new_post_path ) %> </div>

<div class="each-post">
<% @post.order(created_at: :desc).each do |f| %>
<% if logged_in? %>
<p>Author: <%= f.author %></p>
<% else %>
<%= link_to("Must be logged in to see author", login_path) %>
<% end %>
<div class="panel panel-primary">
  <div class="panel-body"> <%= f.title %></div>
  <div class="panel-footer"><%= f.body %></div><br><br>
</div>
<% end %>
</div>

