<div class='form-title'>Post Form </div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@post) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :body %>
<%= f.text_field :body %>
<%= f.submit "create post" %>
    <% end %>
  </div>
</div>